body{
    background-color: grey;
}
h1{
    color: aquamarine;
   
}
#paragraph{
    color: aquamarine
}
.paragraph2{
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-size: 40px;
}